<section class="glass p-2 hover:cursor-pointer" >
  <div class="grid grid-cols-[auto_1fr_auto] gap-2 text-lg">
    <img
      src="https://blog.adobe.com/es/publish/2022/11/11/media_114ed8a8a7004d593d06ecf5ebc149359d450a252.png?width=750&format=png&optimize=medium"
      alt="projectIMG"
     class="w-46 h-30.5 object-cover"
    />
    <div class="flex flex-col justify-between">
      <h3 class="mb-1">CreatePort</h3>
      <p class="line-clamp-2 text-gray-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt soluta ad quas culpa dolorem eos quisquam tempora atque saepe sit doloremque, qui molestiae et tenetur, provident libero nesciunt deleniti ut?
      </p>
      <div class="grid grid-flow-col auto-cols-[32px] overflow-hidden gap-2">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt="projectTech"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt="projectTech"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt="projectTech"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt="projectTech"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt="projectTech"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt="projectTech"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt="projectTech"
        />
      </div>
    </div>
  </div>
</section>
