<section class="glass p-2 hover:cursor-pointer" >
  <div class="grid grid-cols-[auto_1fr_auto] gap-2 text-lg">
    <img
      [src]="project().imgURL"
      [alt]="project().projectName"
     class="w-46 h-30.5 object-cover"
    />
    <div class="flex flex-col justify-between">
      <h3 class="">{{ project().projectName }}</h3>
      <p class="line-clamp-2 text-gray-700 mb-1">
        {{ project().descripcion }}
      </p>
      <div class="grid grid-flow-col auto-cols-[32px] overflow-hidden gap-2">
        @for (tech of technologies(); track tech.techName) {
          <img
          [src]="tech.imgURL"
          [alt]="tech.techName"
        />
        }

      </div>
    </div>
  </div>
</section>
