<section
  class="grid grid-cols-[auto_1fr] lg:grid-cols-[auto_1fr_auto] gap-6 items-start glass p-6 rounded-lg"
>
  <div>
    <img
      [src]="profile().profilePictureURL"
      [alt]="profile().userName"
      class="w-35 md:w-42 border-3 border-secondary-content"
    />
  </div>

  <div>
    <h2 class="text-2xl text-base-content font-montserrat">{{ profile().userName }}</h2>
    <div class="flex gap-2 items-center mt-1">
      <img
        class="w-4 h-3"
        src="https://community.fastly.steamstatic.com/public/images/countryflags/ar.gif"
      />
      <p class="text-info-content font-montserrat">General Roca, Rio Negro, Argentina</p>
    </div>
  </div>

  <div class="flex flex-col items-start gap-4 col-span-2 lg:col-span-1">
    <div class="flex flex-row lg:flex-col w-full justify-between items-center">
      <h2 class="text-2xl font-montserrat">
        Projects amount:
        <span class="text-success">{{ profile().projects.length }}</span>
      </h2>

      <div class="flex items-center gap-2">
        <img
          class="w-12"
          [src]="profile().title.titleIconURL"
        />
        <h2 class="text-info-content font-montserrat">{{ profile().title.titleName }}</h2>
      </div>
    </div>
  </div>
</section>
