<section class="rounded-lg p-2 w-full glass">
  <div class="mb-8">
    <h2 class="text-xl text-base-content font-montserrat mb-2 mt-2">Technologies:</h2>
    <div class="grid grid-cols-4 gap-2">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
        class="w-11"
        alt="javascript logo"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
        class="w-11"
        alt="typescript logo"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
        class="w-11"
        alt="react logo"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
        class="w-11"
        alt="nodejs logo"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-original.svg"
        class="w-11"
        alt="nestjs logo"
      />
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/54cfe13ac10eaa1ef817a343ab0a9437eb3c2e08/icons/angular/angular-original.svg"
        class="w-11"
        alt="nestjs logo"
      />
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/54cfe13ac10eaa1ef817a343ab0a9437eb3c2e08/icons/docker/docker-original.svg"
        class="w-11"
        alt="nestjs logo"
      />
    </div>
  </div>

  <div>
    <h2 class="text-xl text-base-content font-montserrat mb-2">My Links:</h2>
    <div class="flex flex-col gap-2">
        <a class="text-md hover:cursor-pointer hover:text-white text-base-content font-montserrat" href="https://www.linkedin.com/in/mateo-rodriguez-243920239/" target="_blank">Linkedin</a>
        <a class="text-md hover:cursor-pointer hover:text-white text-base-content font-montserrat" href="https://github.com/MateoRodriguezDev" target="_blank">Github</a>
    </div>
  </div>
</section>
