<section class="rounded-sm p-2 pl-3 w-full steam-glass">
  <div class="mb-8">
    <h2 class="text-[13px] text-gray-400 font-montserrat mb-2 mt-2 uppercase tracking-widest">
      I work with:
    </h2>
    <div class="flex flex-wrap gap-2">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
        class="w-9 transition-transform hover:scale-110"
        alt="javascript logo"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
        class="w-9 transition-transform hover:scale-110"
        alt="typescript logo"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
        class="w-9 transition-transform hover:scale-110"
        alt="react logo"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
        class="w-9 transition-transform hover:scale-110"
        alt="nodejs logo"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-original.svg"
        class="w-9 transition-transform hover:scale-110"
        alt="nestjs logo"
      />
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/54cfe13ac10eaa1ef817a343ab0a9437eb3c2e08/icons/angular/angular-original.svg"
        class="w-9 transition-transform hover:scale-110"
        alt="nestjs logo"
      />
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/54cfe13ac10eaa1ef817a343ab0a9437eb3c2e08/icons/docker/docker-original.svg"
        class="w-9 transition-transform hover:scale-110"
        alt="nestjs logo"
      />
    </div>
  </div>

  <div>
    <div class="flex flex-row items-center justify-between">
      <h2 class="text-[13px] text-gray-400 font-montserrat mb-2 mt-2 uppercase tracking-widest">
        My Links:
      </h2>
      @if (_profileService.actualUserProfileId() === +profileId()) {
        <button
          class="btn btn-sm opacity-40 hover:opacity-100 transition-opacity"
          type="button"
          [class]="isDeleting() ? 'btn-error' : ''"
          (click)="changeIsDeleting(!isDeleting())"
        >
          <svg class="size-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 12L14 16M14 12L10 16M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      }
    </div>
    <div class="flex flex-col">
      @for (link of links(); track $index) {
        <a
          class="text-[15px] font-montserrat text-gray-300 border-b border-white/5 p-1 py-2 hover:text-blue-400 transition-all flex justify-between items-center"
          [href]="link.url"
          target="_blank"
          [class]="isDeleting() ? 'text-red-500 hover:text-red-800' : ''"
          (click)="onLinkClick($event, link)"
        >
          <span>{{ link.descripcion }}</span>
          <span class="text-gray-600 text-[12px]">{{ isDeleting() ? '✕' : '↗' }} </span>
        </a>
      }

      <div class="flex flex-row items-center justify-between w-full">
        @if (_profileService.actualUserProfileId() === +profileId()) {
          <button (click)="openModal()" class="btn w-full mt-1">+</button>
        }
      </div>
    </div>
  </div>
</section>

@if (isModalOpen() && _profileService.actualUserProfileId() === +profileId()) {
  <app-create-link-modal (close)="closeModal()" />
}
