@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, retro, autumn, lofi;
}

@font-face {  

font-family: Montserrat;

src: url("../public/assets/fonts/montserrat/Montserrat-Medium.ttf");
}

@theme {  

--font-montserrat: "Montserrat", "sans-serif";
}